.Open_pop_up{
    animation: Pop_up_open_animation .3s ease;
}
.Close_pop_up{
    animation: Pop_up_close_animation .3s ease;
}
@keyframes Pop_up_open_animation{
    0% {opacity: 0;}
    100%{opacity:1;}
}
@keyframes Pop_up_close_animation{
    0% {opacity: 1;}
    100% {opacity: 0;}
}