#Results_search{
    display: grid;
    gap: 20px;
    padding: 15px 0;
}
#Results_search section{
    display: block;
    padding: 0 15px;
}
#Results_search a{
    display: block;
    max-width: 350px;
    margin: 0 auto;
    border: 2px solid var(--clrB);
    background-color: var(--clrA);
}
.Results_top{
    position: relative;
}
.Results_top img{
    width: 100%;
}
.Results_top h3{
    position: absolute;
    width: 100%;
    padding: 15px;
    bottom: 0;
    background-color: var(--clrZ-2);
    font-size: 36px;
}
.Results_bottom p{
    font-size: 18px;
}
.Results_date{
    padding: 10px;
    border-top: 2px solid var(--clrB);
}
.C{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--clrB);
    padding-top: 10px;
}
.C div{
    font-size: 24px;
    padding: 10px 30px;
    background-color: var(--mgk);
    color: var(--clrZ);
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
}
@media (min-width: 620px) and (max-width: 1440px){
    #Results_search{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1441px){
    #Results_search{
        grid-template-columns: repeat(3, 1fr);
    }
}