.Logo_mobile{
    position: relative;
    margin-bottom: 10px;
}
.Logo_mobile::after,
.Logo_mobile::before{
    position: absolute;
    content: "";
    width: 12vw;
    max-width: 140px;
    height: 30px;
    top: 0;
    right: 100%;
    z-index: 1;
    background-color: var(--clrZ);
    border-bottom: 2px solid var(--clrB);
}
.Logo_mobile::before{
    transform: skewX(var(--deg1));
    border-left: 2px solid var(--clrB);
}
.Logo_mobile::after{
    transform: skewX(var(--deg-1));
    left: 100%;
    border-right: 2px solid var(--clrB);
    
}   
.Box_logo{
    display: block;
    position: relative;
    max-width: 130px;
    width: 35vw;
    height: 65px;
}
.Box_logo::before,
.Box_logo::after{
    position: absolute;
    inset: 0;
    content: "";
    background-color: var(--clrB);
}
.Box_logo::before{
    inset: 0 55px 0 0;
    transform: skewX(var(--deg1));
}
.Box_logo::after{
    inset: 0 0 0 55px;
    transform: skewX(var(--deg-1));
}
.Box_logo_background{
    display: flex;
    justify-content: center;
    position: absolute;
    inset: 0;
    z-index: 2;
}
.Box_logo_background::before,
.Box_logo_background::after{
    position: absolute;
    content: "";
    background-color: var(--clrZ);
}
.Box_logo_background::before{
    inset: 0 55px 2px 2px;
    transform: skewX(var(--deg1));
}
.Box_logo_background::after{
    inset: 0 2px 2px 55px;
    transform: skewX(var(--deg-1));
}
.Box_logo_icon{
    position: absolute;
    top: 0;
    height: 65px;
    overflow: hidden;
    box-shadow:inset 0 30px black;
    z-index: 2;
}
.Box_logo_icon svg{
    display: block;
    position: relative;
    top: -5px;
    width: 70px;
    height: 70px;
    fill: var(--mgk);
    filter: drop-shadow(0 0 2px var(--mgk));
}
@media screen and (min-width:1025px){
    .Logo_mobile{
        margin-bottom: 0;
    }
    .Logo_mobile::after,
    .Logo_mobile::before{
        width: 15vw;
        max-width: 280px;
        height: 40px;
    }
    .Box_logo{
        width: 205px;
        height: 100px;
        max-width: initial;
    }
    .Box_logo::before{
        inset: 0 100px 0 0;
    }
    .Box_logo::after{
        inset: 0 0 0 100px;
    }
    .Box_logo_background::before{
        inset: 0 75px 2px 2px;
    }
    .Box_logo_background::after{
        inset: 0 2px 2px 75px;
    }
    .Box_logo_icon{
        height: 100px;
    }
    .Box_logo_icon svg{
        width: 104px;
        height: 104px;
        filter: drop-shadow(0 0 3px var(--mgk));
    }
}
@media screen and (min-width:1025px) and (max-width: 1440px){
    .Box_logo{
        width: 20%;
        max-width: 190px;
        min-width: 160px;
        height: 95px;
    }
    .Box_logo_icon{
        height: 95px;
    }
    .Box_logo_icon svg{
        width: 99px;
        height: 99px;
    }
}