@media screen and (max-height: 600px){
    /*===========================
        CONTAINER MENU NAVBAR
      =========================== */
    .Container_menu_navbar::before,
    .Container_menu_navbar::after{
        top: 105px;
    }
    .Container_menu_navbar::before{
        transform: none;
    }
    .Container_menu_navbar::after{
        transform: scaleX(-1);
    }
    .Menu_navbar{
        top: 20px;
        transform: initial;
    }
}


@media screen and (min-width: 400px){
    .Container_button_navbar{
        margin: 9px 15px 0;
    }
}


@media screen and (max-width: 1024px){
    .Button_navbar:active{
        background-color: var(--mgk);
    }
    .Menu_navbar nav a:hover{
        background-color: var(--mgk-1);
        border-color: var(--mgk);
        color: var(--mgk);
    }
    .Menu_navbar nav a:hover::before,
    .Menu_navbar nav a:hover::after {
        background-color: var(--mgk-1);
        border-color: var(--mgk);
    }
}


@media screen and (min-width: 1025px){
    /*===========================
        NAVBAR
      =========================== */
    .Navbar::before,
    .Navbar::after{
        top: 119px; /*modificare*/
        width: 15%;
        height: 30px;
        clip-path: var(--plgn_trapezoid_1);
    }
    /*===========================
        CONTAINER BUTTON NAVBAR
      =========================== */
    .Container_button_navbar{
        flex: .18;
        margin: 0;
    }
    /*===========================
        BUTTON NAVBAR
      =========================== */
    .Button_navbar{
        padding:0 0 2px 2px;
        clip-path: var(--plgn_iregular_1);
        transition: background-color .3s ease;
    }
    .Button_navbar_style{
        position: relative;
        background-color: var(--clrZ);
        padding: 5px 50px;
        clip-path: var(--plgn_iregular_1);
    }
    .Button_navbar_style .-Close-{
        padding: 5px 50px;
    }
    .Button_navbar_style svg{
        width: 48px;
        height: 48px;
        fill: var(--mgk);
        filter: drop-shadow(0 0 5px var(--mgk));
        transition: filter .3s ease;
    }
    .Button_navbar:hover{
        background-color: var(--mgk);
    }
    .Button_navbar:hover > .Button_navbar_style svg{
        filter: drop-shadow(0 0 5px var(--mgk))  drop-shadow(0 0 1px var(--mgk));
    }
    /*===========================
        CONTAINER MENU NAVBAR
      =========================== */
    .Container_menu_navbar{
        flex: .64;
        display: flex;
        visibility: visible;
        position: static;
        top: auto;
        width: auto;
        height: auto;
        min-height: auto;
        background-color: transparent;
        overflow-y: visible;
        z-index: auto;
        min-width: 1008px;
    }
    .Container_menu_navbar::before,
    .Container_menu_navbar::after{
        display: none;
    }
    /*===========================
        MENU NAVBAR
      =========================== */
    .Menu_navbar{
        display: initial;
        flex-direction: row;
        align-items: stretch;
        flex: 1;
        position: static;
        top: auto;
        transform: none;
        z-index: 1;
    }
    .Menu_navbar.-Right-{
        margin-bottom: 0;
    }
    /*===========================
        ASIDE
      =========================== */
    .Menu_navbar aside{
        padding: 20px 0; 
        width: auto;
        background-color: transparent; 
        clip-path: none;
    }
    .Menu_navbar.-Left- aside{
        transform: skewX(var(--deg1));
    }
    .Menu_navbar.-Right- aside{
        position: relative;
        bottom: auto;
        transform: skewX(var(--deg-1)); 
    }
    .Aside_style{
        position: absolute;
        width: 105%;
        height: 100%;
        top: 0;
        background-color: var(--clrZ);
        border-bottom: 2px solid var(--clrB); 
        clip-path: none;
    }
    .Menu_navbar.-Left- .Aside_style{
        border-left: 2px solid var(--clrB); 
    }
    .Menu_navbar.-Right- .Aside_style{
        right: 0;
        border-right: 2px solid var(--clrB); 
    }
    .Aside_style p{
        padding: 0;
    }
    .Aside_style a{
        transition: border-color .3s ease,
            background-color .3s ease,
                box-shadow .3s ease;
    }
    .Menu_navbar.-Left- .Aside_style p{
        transform: skewX(var(--deg-1));
    }
    .Menu_navbar.-Right- .Aside_style p,
    .Aside_style a{
        transform: skewX(var(--deg1));
    }
    .Menu_navbar.-Right- nav{
        padding-bottom: 0;
    }
    /*===========================
        NAV
      =========================== */
    .Menu_navbar nav ul{
        display: flex;
    }
    .Menu_navbar nav li{
        margin-top: 0;
        flex: 1;
    }
    .Menu_navbar.-Left- nav li:nth-last-of-type(3){
        margin-left: 14px;
    }
    .Menu_navbar.-Right- nav li:nth-last-of-type(1){
        margin-right: 14px;
    }
    .Menu_navbar nav a{
        position: static;
        padding: 28px 0;
        width: auto;
        background-color: transparent;
        border: none;
        font-size: 24px;
        margin: 0;
        box-sizing: border-box;
    }
    .Menu_navbar nav a::before,
    .Menu_navbar nav a::after{
        position: static;
        content: none;
        background-color: transparent;
        border: none;
        width: auto;
        height: auto;
        top: auto;
        left: auto;
        right: auto;
        display: none;
    }
    /*===========================
        CONTAINER TITLE PAGE
      =========================== */
    .Container_title_page{
        height: 30vw;
    }
    .Title_page{
        width: 15vw;
        height: 15vw;
        border: 5px solid var(--mgk);
        box-shadow: inset 0 0 20px 2px var(--mgk), 0 0 20px 2px var(--mgk);    
    }
    .Title_page h1{
        font-size: 7vw;
        -webkit-text-stroke: 2px var(--clrZ);
        text-shadow: 0 0 10px var(--mgk),0 0 10px var(--mgk),0 0 10px var(--mgk),
            0 0 5px var(--mgk);
    }
    /*===========================
        FOOTER
      =========================== */
    .Footer .Copyright::before{
        clip-path: var(--plgn_trapezoid_3);
    }
}
@media screen and (min-width: 1025px) and (max-width: 1440px){
    /*===========================
        CONTAINER BUTTON NAVBAR
      =========================== */
    .Container_button_navbar{
        flex: .15;
    }
    /*===========================
        BUTTON NAVBAR
      =========================== */
    .Button_navbar_style{
        padding: 5px 35px;
    }
    .Button_navbar_style .-Close-{
        padding: 5px 35px;
    }
    /*===========================
        CONTAINER MENU NAVBAR
      =========================== */
    .Container_menu_navbar{
        flex: .7;
        min-width: 0;
    }
    /*===========================
        ASIDE
      =========================== */
    .Aside_style{ 
        width: 102%;
    }
    .Aside_style a{
        margin-left: 5px;
    }
}